:root {
    --himiko-header: 4rem;
    --himiko-footer: 2rem;
    --himiko-main: calc(100vh - (var(--himiko-header) + var(--himiko-footer)));
    --background-container-color: rgba(90, 32, 18, 0.9);
}

@font-face {
    font-family: 'My Hero Academia';
    src: url('../fonts/My-Hero-Academia.otf') format('opentype');
}

@font-face {
    font-family: 'Caledonia';
    src: url('../fonts/NewCaledoniaLTStdSmBold.ttf') format('truetype');
}

body {
    background-color: black;
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Caledonia', Cambria, Cochin, Georgia, Times, 'Times New Roman',
        serif;
}

/* BACKGROUND IMAGE */

body::before {
    content: '';
    background-image: url('../media/images/himiko-toga-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 70% 20%;
    position: absolute;
    inset: 0;
    opacity: 0.4;
    z-index: -1;
}

h1,
h2,
h3,
p,
li,
a,
a:link,
a:visited {
    color: #ffd8a8;
}

a:hover:not(.logo-container) {
    transform: scale(1.1);
}

/* OUTLINE FOR MY HERO ACADEMIA FONT */

h1,
h2,
h3 {
    -webkit-text-stroke: 0.7px black;
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
    font-family: 'My Hero Academia', Arial, Helvetica, sans-serif;
}

p,
li {
    font-size: 1.125rem;
}

.wrapper {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100dvh;
}

/*  
====================================== 
            	HEADER                          
====================================== 
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-container-color);
    border-bottom: 1px solid black;
    height: var(--himiko-header);
    padding-right: 8px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.logo-container img {
    width: 75px;
}

/*  
====================================== 
            HAMBURGER MENU                          
====================================== 
*/

.hamburger-menu {
    position: relative;
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.hamburger-menu span:nth-child(1) {
    top: 25%;
}

.hamburger-menu span:nth-child(3) {
    top: 75%;
}

.hamburger-menu span {
    width: 100%;
    height: 5px;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}

.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.hamburger-menu.active span:nth-child(2) {
    display: none;
}

@media screen and (min-width: 53.75em) {
    .hamburger-menu {
        display: none;
    }
}

/*  
====================================== 
        NAV BAR SHARED STYLES                           
====================================== 
*/

.nav-desktop li a,
.nav-mobile li a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    text-shadow: 2px 0 0 black, 0 2px 0 black, -2px 0 0 black, 0 -2px 0 black;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1ch;
    height: 60px;
}

.nav-desktop li img,
.nav-mobile li img {
    min-width: 90px;
    height: 27px;
    opacity: 0.7;
}

.nav-desktop li span,
.nav-mobile li span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  
====================================== 
            NAV BAR DESKTOP                           
====================================== 
*/

.nav-desktop ul {
    display: flex;
    gap: 18px;
    list-style-type: none;
}

/* DISPLAY DESKTOP WHEN SCREEN IS WIDE ENOUGH */

.nav-desktop {
    display: none;
}

@media screen and (min-width: 53.75em) {
    .nav-desktop {
        display: block;
    }
}

/*  
====================================== 
             NAV BAR MOBILE                           
====================================== 
*/

.nav-mobile {
    width: 100%;
    max-width: 200px;
    position: fixed;
    top: 4rem;
    right: -200px;
    background-color: rgb(103, 42, 25);
    border: 3px solid #0b361f;
    transition: right 1s;
}

.nav-mobile ul {
    list-style-type: none;
}

.nav-mobile li:not(:last-child) {
    align-items: center;
    border-bottom: 3px solid #0b361f;
}

.visible {
    right: 0;
}

/* HIDE MOBILE NAV BAR WHEN SCREEN IS WIDE ENOUGH */

@media screen and (min-width: 53.75em) {
    .nav-mobile {
        display: none;
    }
}

/*  
====================================== 
          MAIN SECTION SCROLL                           
====================================== 
*/

main {
    height: var(--himiko-main);
    overflow-y: auto;
}

/*  
====================================== 
             TOGA HOMEPAGE                           
====================================== 
*/

/* BANNER STYLES */

.homepage-banner,
.about-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--background-container-color);
    border-top: 3px solid #0b361f;
    border-bottom: 3px solid #0b361f;
    margin-top: 0.625rem;
    padding: 5px 0;

    & article {
        max-width: 250px;
    }
}

/* CONTAINER STYLES */

.card-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin: 1.25rem auto 0;
    max-width: 1280px;
}

.card-container article {
    width: 350px;
    height: 233px;
    background-color: var(--background-container-color);
    border: 3px solid #0b361f;
}

/* TOGA CARD GENERAL STYLES */

.card-container article {
    display: grid;
}

.card-container img {
    padding-top: 10px;
}

.card-text {
    justify-self: center;
    align-self: center;
    width: 200px;
}

.card-text a {
    display: block;
    justify-self: center;
}

.card-text *:not(:last-child) {
    margin-bottom: 0.5rem;
}

.toga-card-img-limit {
    height: 227px;
    overflow: hidden;
}

/* TOGA ABOUT CARD */

.toga-about-card {
    grid-template-columns: 0.7fr 1fr;
}

/* TOGA QUIRK CARD */

.toga-quirk-card-mobile {
    grid-template-columns: 1fr 0.6fr;
}

/* DISPLAY DESKTOP OR MOBILE QUIRK CARD SO IT ALTERNATES ON MOBILE AND FOLLOWS NORMAL FLOW ON TABLET OR DESKTOP */

@media screen and (max-width: 45em) {
    .card-container .toga-quirk-card-desktop {
        display: none;
    }
}

@media screen and (min-width: 45em) {
    .card-container .toga-quirk-card-desktop {
        display: grid;
        grid-template-columns: 0.6fr 1fr;
    }

    .card-container .toga-quirk-card-mobile {
        display: none;
    }
}

/* TOGA STORY CARD */

.toga-story-card {
    grid-template-columns: 0.7fr 1fr;
    margin-bottom: 0.625rem;
}

/*  
====================================== 
        TOGA PAGE SHARED STYLES                           
====================================== 
*/

/* GENERAL STYLES FOR ABOUT, QUIRK AND STORY PAGES */

.toga-comic-squares {
    background-color: var(--background-container-color);
    border: 3px solid #0b361f;
}

/*  
====================================== 
            TOGA ABOUT PAGE                           
====================================== 
*/

/* TOGA INFO 1 */

.toga-information-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin: 0.125rem 0;

    & p {
        padding: 0.2rem;
    }
}

@media screen and (min-width: 53.75em) {
    .toga-information-1 {
        flex-direction: row;
        justify-content: center;
    }
}

.toga-info-1 {
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    overflow: hidden;
    width: 350px;
    height: 286px;
}

.toga-info-1 ul {
    margin-top: 0.313rem;
    list-style: none;
}

.toga-info-1 li {
    margin-left: 1rem;
}

.toga-info-1-squares {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.toga-info-1-squares div {
    width: 108px;
    height: 142px;
}

.toga-info-1-squares img {
    height: 100%;
}

/* TOGA INFO 2 */

.toga-information-2 {
    display: flex;
    gap: 2px;
}

.toga-info-2 {
    display: grid;
    width: 240px;
    height: 286px;
    padding: 0.3rem;
}

.toga-info-2-squares {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.toga-info-2-squares div {
    width: 108px;
    height: 142px;
}

.toga-info-2-squares div:nth-child(1) {
    overflow: hidden;
}

.toga-info-2-squares p {
    text-align: center;
}

/* TOGA INFO 3 */

.toga-info-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 350px;
    height: 286px;
    overflow: hidden;
}

.toga-info-3 img {
    height: 100%;
}

.toga-info-3 p {
    align-self: center;
}

/*  
====================================== 
             TOGA QUIRK PAGE                           
====================================== 
*/

/* TOGA QUIRK INFO 1 */

.toga-quirk-information-1,
.toga-quirk-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

@media screen and (min-width: 53.75em) {
    .toga-quirk-information-1 {
        flex-direction: row;
        justify-content: center;
    }
}

.toga-quirk-information-1 {
    margin: 0.125rem 0 0;

    & p {
        padding: 0.2rem;
    }
}

.toga-quirk-squares-1 {
    display: flex;
    gap: 2px;
}

.toga-quirk-squares-1 div {
    width: 175px;
    height: 142px;
}

.toga-quirk-squares-1 img {
    height: 100%;
}

/* TOGA QUIRK INFO 2 */

.toga-quirk-2 {
    width: 350px;
    height: 141px;
}

/* TOGA QUIRK INFO 3 */

.toga-quirk-3 {
    display: grid;
    width: 350px;
    height: 285px;
}

.toga-quirk-3 img {
    width: 100%;
}

/* TOGA QUIRK INFO 4 */

.toga-quirk-4 {
    display: grid;
    width: 350px;
    height: 285px;
}

/* STYLES FOR REMAINING 2 IMAGE DIVS */

.toga-quirk-information-2 div:nth-child(1) {
    width: 350px;
    height: 157px;
    margin-bottom: 0.125rem;
    overflow: hidden;
}

.toga-quirk-information-2 div:nth-child(2) {
    position: relative;
    width: 350px;
    height: 126px;
    overflow: hidden;
}

.toga-quirk-information-2 div:nth-child(2) img {
    position: absolute;
    top: -30%;
}

/*  
====================================== 
            TOGA STORY PAGE                           
====================================== 
*/

/* TOGA QUIRK STORY 1 */

.toga-story-information-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    margin: 0.125rem 0;

    & p {
        padding: 0.2rem;
    }
}

@media screen and (min-width: 53.75em) {
    .toga-story-information-1 {
        flex-direction: row;
        justify-content: center;
    }
}

.toga-story-info-wrapper {
    display: flex;
    gap: 2px;
}

/* TOGA STORY 1 SMALLER DIV SQUARES */

.toga-story-squares-1 {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.toga-story-squares-1 div:nth-child(1) {
    width: 136px;
    height: 141px;
}

.toga-story-squares-1 div:nth-child(2) {
    width: 136px;
    height: 142px;
}

.toga-story-squares-1 img {
    height: 100%;
}

.toga-story-1 {
    display: grid;
    width: 212px;
    height: 285px;
}

/* TOGA STORY 2 */

.toga-story-information-2 {
    display: flex;
    gap: 2px;
}

.toga-story-information-2 div {
    width: 175px;
    height: 285px;
    overflow: hidden;
}

.toga-story-2 {
    display: grid;
}

/* TOGA STORY 2-4 */

.toga-story-2,
.toga-story-3,
.toga-story-4 {
    width: 350px;
    height: 285px;
}

/*  
====================================== 
                 FOOTER                           
====================================== 
*/

footer p {
    background-color: var(--background-container-color);
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--himiko-footer);
}
